<p>
  <b>Name:</b>
  <%=h @classified_person_category.name %>
</p>


<%= link_to 'Edit', edit_classified_person_category_path(@classified_person_category) %> |
<%= link_to 'Back', classified_person_categories_path %>